<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapscience.modular.system.mapper.ContractManagementMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mapscience.modular.system.model.ContractManagement">
        <id column="contract_management_id" property="contractManagementId" />
        <result column="employee_id" property="employeeId" />
        <result column="employee_state_id" property="employeeStateId" />
        <result column="contract_num" property="contractNum" />
        <result column="signing_com_id" property="signingComId" />
        <result column="contract_type" property="contractType" />
        <result column="status" property="status" />
        <result column="term" property="term" />
        <result column="contract_file" property="contractFile" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        contract_management_id, employee_id, employee_state_id, contract_num, signing_com_id, contract_type, status, term, contract_file, start_time, end_time, create_time, update_time
    </sql>

</mapper>
