<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapscience.modular.system.mapper.RecordTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mapscience.modular.system.model.RecordType">
        <id column="record_type_id" property="recordTypeId" />
        <result column="record_type_name" property="recordTypeName" />
        <result column="status" property="status" />
        <result column="crate_time" property="crateTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        record_type_id, record_type_name, status, crate_time, update_time
    </sql>

</mapper>
