body {
    background: #f3f3f3;
}

.wrapper {
    overflow: hidden;
    zoom: 1;
    margin-bottom: 20px;
}

.wrapper .page {
    width: 24.25%;
    height: 162px;
    padding: 15px 30px;
    margin-right: 1%;
    border-radius: 5px;
    background: #fff;
    float: left;
    position: relative;
}

.wrapper .page:last-child {
    margin-right: 0;
}

.wrapper .title {
    color: #050505;
    font-size: 18px;
    fontFamily:'sans-serif';
    margin-bottom: 40px;
    font-weight:bold;
}

.chart {
    width: 100%;
    height: 100%;
}

.wrapper .circle {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    position: absolute;
    left: 30px;
    bottom: 15px;
}

.wrapper .circle_01 {
    background: #efd70b;
}

.wrapper .circle img {
    width: 30px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.wrapper .text {
    width: 75%;
    height: 70px;
    float: right;
    margin-top: 40px;
}

@media (max-width: 1440px){
    .wrapper .text {
        width: 70%;
        height: 70px;
        float: right;
    }
}

@media (max-width: 1366px){
    .wrapper .text {
        width: 65%;
        height: 70px;
        float: right;
    }
}

.wrapper .text .number {
    margin-bottom: 15px;
    text-align: right;
    color: #555555;
    font-weight: bold;
    font-size: 24px;
}

.wrapper .text .bef {
    width: 85%;
    height: 8px;
    border-radius: 4px;
    background: #d4d4d4;
    position: relative;
    float: right;
}

.wrapper .text .bef:after {
    content: '';
    width: 80%;
    height: 8px;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
}

.wrapper .text .bef_01:after {
    background: #efd70b;
}
