server:
  port: 8081
spring:
  datasource:
    dbName: separate
    url: jdbc:mysql://192.168.1.205:3306/yydsjpt?autoReconnect=true&useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=CONVERT_TO_NULL&useSSL=false&serverTimezone=UTC
    username: root
    password: 123456
    filters: wall,mergeStat
project:
  muti-datasource:
    open: true
    url: jdbc:mysql://192.168.1.205:3306/yydsjpt?autoReconnect=true&useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=CONVERT_TO_NULL&useSSL=false&serverTimezone=UTC
    username: root
    password: 123456
    data-source-names:
      - dataSourceProject
      - dataSourceBiz



  profiles:
      active: @spring.active@
  mvc:
    static-path-pattern: /static/**
    view:
      prefix: /templates
mybatis-plus:
  mapper-locations: classpath*:com/mapscience/modular/*/mapper/mappers/*.xml
  type-aliases-package: com.mapscience.modular.*.model
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    #主键类型  0:"数据库ID自增", 1:"用户输入ID",2:"全局唯一ID (数字类型唯一ID)", 3:"全局唯一ID UUID";
    id-type: 3
    #字段策略 0:"忽略判断",1:"非 NULL 判断"),2:"非空判断"
    field-strategy: 2
    #驼峰下划线转换
    db-column-underline: true
    #刷新mapper 调试神器
    refresh-mapper: true



#jedis配置
redis:
  host: 192.168.1.205
  port: 6380
  password: yydsjpt
  timeout: 10000
  max-active: 200
  max-wait: -1
  max-idle: 8
  min-idle: 0

