<#assign basePath=request.contextPath />
<!--主页大屏-->
<html lang="en">
<head >
    <meta charset="UTF-8">
    <title>中国再生资源人力资源管理系统</title>
    <!--公有css-->
    <link href="${basePath}/static/modular/home/css/bootstrap.css" rel="stylesheet"/>
    <link href="${basePath}/static/modular/home/css/main.css" >
    <link href="${basePath}/static/modular/home/css/animate.min.css" >
    <link href="${basePath}/static/common/layui/css/layui.css" >
    <!--私有css-->
    <link href="${basePath}/static/modular/home/css/home.css" >
</head>
<script>
    var rootPath = '${basePath}';
</script>
<body>

<div class="head">
    <div class="one">
        <div class="logo">
            <div class="logo_l">
                <img src="${basePath}/static/modular/home/images/logo.png"  alt="">
            </div>
            <div class="logo_r">
                <p>&nbsp;中国再生资源</p>
                <p>China Recycling Resource</p>
            </div>
        </div>
    </div>
    <div class="two">
        <div class="title">中国再生资源人力资源管理系统</div>
    </div>

    <div class="thr">
        <div class="time">
            <span id="time"> </span>
            <a class="layui-btn layui-btn-small" style="line-height: 1.6em; margin-top: 3px;background-color:#00968800;"   title="刷新">
                <i class="layui-icon" style="line-height: 30px">&#xe669;</i></a>
        </div>
    </div>

</div>
<div class="cont">
    <div class="lefts">
        <img class="left_bg_move"
             src="${basePath}/static/modular/home/images/left_bg_move.png"  alt="">
        <div class="person">
            <img class="tof tof_before"
                 src="${basePath}/static/modular/home/images/arrow.png" alt="">
            <div class="menu">
                <div class="menu_02">
                    <img src="${basePath}/static/modular/home/images/icon_01.png" alt="">组织管理
                </div>
                <div class="menu_01">
                    <img src="${basePath}/static/modular/home/images/icon_02.png" alt="">员工管理
                </div>

                <div class="menu_03">
                    <img src="${basePath}/static/modular/home/images/icon_03.png" alt="">党建工作
                </div>
                <div class="menu_04">
                    <img src="${basePath}/static/modular/home/images/icon_04.png" alt="">干部管理
                </div>
                <div class="menu_05">
                    <img src="${basePath}/static/modular/home/images/icon_05.png" alt="">薪酬管理
                </div>
                <div class="menu_06">
                    <img src="${basePath}/static/modular/home/images/icon_06.png" alt="">绩效管理
                </div>
                <div class="menu_07">
                    <img src="${basePath}/static/modular/home/images/icon_07.png" alt="">招聘管理
                </div>
                <div class="menu_08">
                    <img src="${basePath}/static/modular/home/images/icon_08.png" alt="">培训活动
                </div>
                <div class="menu_09">
                    <img src="${basePath}/static/modular/home/images/icon_02.png" alt="">员工自助
                </div>
            </div>
            <div class="sum">
                <div class="dq-person">
                    <div>企业当前人数</div>
                    <div>
                        <img src="${basePath}/static/modular/home/images/dq_icon.png" alt="">
                        <span class="number"></span>
                    </div>
                </div>
                <div class="zyxx">员工重要信息完成情况</div>
                &lt;!&ndash;统计图&ndash;&gt;
                <div class="dq-tj">
                    <label>身份证号</label>
                    <div class="layui-progress layui-progress-big"
                         lay-showpercent="true">
                        <div class="layui-progress-bar" lay-percent="70%" id="percent1"></div>
                    </div>
                    <br /> <label>居住地址</label>
                    <div class="layui-progress layui-progress-big"
                         lay-showpercent="true">
                        <div class="layui-progress-bar" lay-percent="70%" id="percent2"></div>
                    </div>
                    <br /> <label>紧急联系人</label>
                    <div class="layui-progress layui-progress-big"
                         lay-showpercent="true">
                        <div class="layui-progress-bar" lay-percent="70%" id="percent3"></div>
                    </div>
                    <br /> <label>社保账号</label>
                    <div class="layui-progress layui-progress-big"
                         lay-showpercent="true">
                        <div class="layui-progress-bar" lay-percent="70%" id="percent4"></div>
                    </div>

                    <br /> <label>公积金账号</label>
                    <div class="layui-progress layui-progress-big"
                         lay-showpercent="true">
                        <div class="layui-progress-bar" lay-percent="70%" id="percent5"></div>
                    </div>

                    <br /> <label>工资卡卡号</label>
                    <div class="layui-progress layui-progress-big"
                         lay-showpercent="true">
                        <div class="layui-progress-bar" lay-percent="70%" id="percent6"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="total">
            <div class="text">
                <img class="arrow" src="${basePath}/static/modular/home/images/arrow.png"
                     alt=""> &nbsp; <span>员工年龄段分布图</span>
            </div>
            &lt;!&ndash;统计图&ndash;&gt;
            <div class="page" id="salary"></div>
        </div>
    </div>
    <div class="center">
        &lt;!&ndash;地图&ndash;&gt;
        <div class="map" id="map">
            <div class="reset" id="reset"><span>重置窗口</span></div>
            <div class="legend">
                <div>
                    <img src="${basePath}/static/modular/home/images/point.png">
                    <span>一级公司</span>
                </div>
                <div>
                    <img src="${basePath}/static/modular/home/images/point2.png">
                    <span>二级公司</span>
                </div>
                <div>
                    <img src="${basePath}/static/modular/home/images/point3.png">
                    <span>三级公司</span>
                </div>
                <div>
                    <img src="${basePath}/static/modular/home/images/point4.png">
                    <span>其它</span>
                </div>
            </div>
        </div>
        <div class="cen-page">
            <div class="text">
                <img class="arrow" src="${basePath}/static/modular/home/images/arrow.png"
                     alt=""> &nbsp; <span>本月企业员工人员情况</span>
            </div>
            &lt;!&ndash;统计图&ndash;&gt;
            <div class="page" id="empSituation">
                <div style="height: 100%">
                    <div class="lefts" id="empSituation1" style="width: 25%;"></div>
                    <div class="lefts" id="empSituation2" style="width: 25%;"></div>
                    <div class="lefts" id="empSituation3" style="width: 25%;"></div>
                    <div class="lefts" id="empSituation4" style="width: 25%;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="rights">
        <img class="right_bg_move"
             src="${basePath}/static/modular/home/images/left_bg_move.png" alt="">
        <div class="rt">
            <div class="text">
                <img class="arrow" src="${basePath}/static/modular/home/images/arrow.png"
                     alt=""> &nbsp; <span>组织架构分布</span>
            </div>
            <div class="page">
                <p class="p">按管理层级</p>
                <div class="glcj">
                    <div class="picMarquee-left2">
                        &lt;!&ndash; <div class="hd">
                            <a class="prev"><</a>
                            <a class="next">></a>
                        </div> &ndash;&gt;
                        <div class="bd">
                            <ul class="picList" id="picList">
                                <li>
                                    <div class="pic">
                                        <a href="javascript:void(0);">中再生</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="pic">
                                        <a href="javascript:void(0);">中再资源</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="pic">
                                        <a href="javascript:void(0);">中再资环</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <p class="p">按业务板块</p>
                <div class="glcj">
                    <div class="picMarquee-left">
                        <div class="hd">
                            <a class="prev"><</a>
                            <a class="next">></a>
                        </div>
                        <div class="bd">
                            <ul class="picList" id="picList2">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rm">
            <div class="text">
                <img class="arrow" src="${basePath}/static/modular/home/images/arrow.png"
                     alt=""> &nbsp; <span>在职员工合同分布</span>
            </div>
            &lt;!&ndash;统计图&ndash;&gt;
            <div class="page" id="onlineEmp"></div>
        </div>
        <div class="rb">
            <div class="text">
                <img class="arrow" src="${basePath}/static/modular/home/images/arrow.png"
                     alt=""> &nbsp; <span>在职员工学历分布</span>
            </div>
            &lt;!&ndash;统计图&ndash;&gt;
            <div class="page" id="education"></div>
        </div>
    </div>
</div>

<!--测试地图调研-->
<!--
<link rel="stylesheet" href="http://192.168.1.154/arcgis_js_api/library/3.9/3.9/js/esri/css/esri.css" th:href="@{http://192.168.1.154/arcgis_js_api/library/3.9/3.9/js/esri/css/esri.css}"/>
<script type="text/javascript" src="http://192.168.1.154/arcgis_js_api/library/3.9/3.9/init.js" th:src="@{http://192.168.1.154/arcgis_js_api/library/3.9/3.9/init.js}"></script>
-->


<!--全局js-->
<script src="${basePath}/static/common/js/jquery-3.3.1.js" ></script>
<script src="${basePath}/static/common/plugins/layui/layui.js" ></script>
<script src="${basePath}/static/modular/home/js/echarts.js" ></script>
<!--私有js-->
<script src="${basePath}/static/common/3.10/init.js" type="text/javascript"></script>
<link rel="stylesheet" href="http://192.168.1.154/arcgis_js_api/library/3.9/3.9/js/esri/css/esri.css"/>
<script type="text/javascript" src="http://192.168.1.154/arcgis_js_api/library/3.9/3.9/init.js"></script>
<!--地图调用调试结束-->

<script type="text/javascript">
    var mapUrl = "http://192.168.1.154:6080/arcgis/rest/services/zigongsi/zhongguoditu_weisanwei/MapServer";
    //var mapUrl ="http://58.56.174.102:6080/arcgis/rest/services/RenLiZiYuan/zhongguoditu_3v/MapServer";//发布用
</script>

<!--<script type="text/javascript" src="${basePath}/static/modular/home/js/home.js"></script>
<script type="text/javascript" src="${basePath}/static/modular/home/js/index_map.js"></script>
<script type="text/javascript" src="${basePath}/static/modular/home/js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="${basePath}/static/modular/home/js/main.js"></script>-->
</body>
</html>